body {
	background-color: #e8f9ff;
}

h1 {
	margin: 15px;
}

#schedule{
	padding: 20px;
}

.card{
	width: 100%;
	height: 250x;
	margin: 2px;
	background-color: #d1e1ff;
	color: #394439;
}

.christmas{
	background-color: #146b37;
	border: 5px dotted #de1e00;
	color: #FFFFFF;
}

.mexican{
	background-color: #FFFFFF;
	border: 5px solid #00FF00;
	color: #FF0000;
}

.hanukkah{
	background-color: #5e9cff;
	border: 5px dashed #f7e34d;
	color: #FFFFFF;
}

.card-body{
	padding-left: 10px;
}

h5 {
	color: #394439;
}

.vertical{
    /* Abs positioning makes it not take up vert space */ 
    position: absolute;
    top: 0;
    right: 0;

    float: right;

    transform: rotate(270deg);
	transform-origin: right bottom 0;

	font-size: 30px;
	opacity: 0.5;
	padding: 0px;
}

.past{
	display: none;
}


@media (min-width: 992px) {
	.card{
		width: 13%;
		height: 150px;
		float: left;
	}

	.vertical{
		visibility: hidden;
	}

	.past{
		display: block;
	}
}
